table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background: white;
  border-radius: 5px;
  border: 1px solid rgb(45, 39, 121) !important;
  box-shadow: 1px 4px 22px -7px rgba(0, 0, 0, 0.75);
  overflow: scroll;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table input {
  border: 0;
  background-color: transparent;
}

table input:focus {
  outline: none !important;
}

.scrollit {
  overflow-x: scroll;
  max-width: 90vw;
  max-height: 800px;
  margin: 40px;
}
